<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LinkHTTP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LinkHTTP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LinkHTTP.Properties.Settings>
            <setting name="HTTPPort" serializeAs="String">
                <value>7777</value>
            </setting>
            <setting name="EnterprisePatch" serializeAs="String">
                <value>\\Operator\настроечники\iruc</value>
            </setting>
            <setting name="PfrPatch" serializeAs="String">
                <value>\\Operator\настроечники\ПФР</value>
            </setting>
            <setting name="StatPatch" serializeAs="String">
                <value>\\Operator\настроечники\Росстат</value>
            </setting>
            <setting name="RateName" serializeAs="String">
                <value>ParamRate_</value>
            </setting>
            <setting name="PfrName" serializeAs="String">
                <value>ParamPFR_</value>
            </setting>
            <setting name="StatName" serializeAs="String">
                <value>ParamStat_</value>
            </setting>
            <setting name="wwwroot" serializeAs="String">
                <value>www</value>
            </setting>
            <setting name="tempcleantime" serializeAs="String">
                <value>3600000</value>
            </setting>
            <setting name="indextime" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="Year" serializeAs="String">
                <value>2016</value>
            </setting>
            <setting name="Secure" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultParamName" serializeAs="String">
                <value>ParamEnterprise</value>
            </setting>
        </LinkHTTP.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <LinkHTTP.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>0.7</value>
            </setting>
        </LinkHTTP.Properties.Settings>
    </applicationSettings>
</configuration>